<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>

	<appSettings>
		<add key="Connection" value="TDSLive_Dev"/>
		<add key="api" value="http://15.207.205.223:5000/api/"/>
		<add key="DatabaseTimeOut" value="100000000"/>
		<add key="ConnectMessageTitle" value="Efi Mitra Serices Pvt.Ltd."/>
		<add key="AssistanceMessage" value="Please contact EfiMitra Services for assistance."/>
	</appSettings>
	<connectionStrings>
		<add name="TDSLive_Dev" connectionString="Data Source=.;Initial Catalog=BalajiTrader_Billing;User ID=sa;Password=123;Encrypt=False;" providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
	
	<log4net>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingFileAppender" />
		</root>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<!--<file value="D:\\Projects\\Log.log" />-->
			<file value="${LOG_BASE_PATH}Logs\\Log.log" />
			<appendToFile value="true" />
			<rollingstyle value="Date" />
			<MaximumFileSize value="100MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
	</log4net>
</configuration>